.admin-dashboard{
    display:flex;
    min-height:100vh;
    background:#f4f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

/* SIDEBAR */

.admin-sidebar{
    width:260px;
    background:white;
    padding:30px 20px;
    box-shadow:2px 0 10px rgba(0,0,0,0.05);
    display:flex;
    flex-direction:column;
    gap:18px;
}

.admin-sidebar h2{
    margin-bottom:20px;
    color:#2563eb;
}

.admin-sidebar button{
    border:none;
    padding:14px;
    border-radius:12px;
    background:#eef2ff;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
    text-align:left;
}

.admin-sidebar button:hover{
    background:#2563eb;
    color:white;
}

/* CONTENT */

.admin-content{
    flex:1;
    padding:40px;
}

.upload-section{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 4px 14px rgba(0,0,0,0.06);
}

.upload-section h1{
    margin-bottom:25px;
}

.upload-section form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.upload-section input,
.upload-section textarea{
    padding:15px;
    border:none;
    background:#eef2ff;
    border-radius:12px;
    outline:none;
}

.upload-section textarea{
    min-height:120px;
    resize:none;
}

.upload-section button{
    border:none;
    padding:16px;
    background:#2563eb;
    color:white;
    border-radius:12px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.upload-section button:hover{
    background:#1e4fd1;
}

.success-msg{
    margin-top:20px;
    color:green;
    font-weight:600;
}

.upload-section input[type="file"]{

    width:100%;
    padding:12px;
    background:#eef2ff;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:15px;
    box-sizing:border-box;
    cursor:pointer;
    display:block;

}

.input-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.input-group + .input-group{
    margin-top:-20px;
}

.input-group label{
    font-weight:600;
    color:#222;
}

