.manage-courses{
    min-height:100vh;
    background:#f4f7fb;
    padding:40px;
}

.manage-header{
    margin-bottom:40px;
}

.manage-header h1{
    font-size:42px;
    color:#111827;
}

.course-options{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

.option-card{
    background:white;
    border-radius:24px;
    padding:35px;
    cursor:pointer;

    transition:.3s;

    box-shadow:
    0 4px 15px rgba(0,0,0,.06);
}

.option-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 15px 30px rgba(37,99,235,.15);

}

.option-icon{
    font-size:50px;
    margin-bottom:20px;
}

.option-card h2{
    color:#111827;
    margin-bottom:15px;
}

.option-card p{
    color:#6b7280;
    line-height:1.7;
}